<ul>

    <li [routerLink]="['/home']" routerLinkActive="active">

        <mat-icon>home</mat-icon>

    </li>

    <li [routerLink]="['/cameras']" routerLinkActive="active">

        <mat-icon>videocam</mat-icon>

    </li>

    <li [routerLink]="['/dvr']" routerLinkActive="active">

        <mat-icon>subscriptions</mat-icon>

    </li>

    <li [routerLink]="['/viewer']" routerLinkActive="active">

        <mat-icon>view_module</mat-icon>

    </li>

    <li [routerLink]="['/settings']" routerLinkActive="active">

        <mat-icon>build</mat-icon>

    </li>

</ul>
