<div class="">

    <mat-grid-list cols="2" rowHeight="200px" gutterSize="20px">

        <mat-grid-tile>

            <app-card-widget widgetTitle="Cameras"
                             widgetDescription="Manage your camera connections."
                             widgetIcon="videocam"
                             widgetButtonLabel="Manage Cameras"></app-card-widget>

        </mat-grid-tile>

        <mat-grid-tile>

            <app-card-widget widgetTitle="Cameras"
                             widgetDescription="Manage your camera connections."
                             widgetIcon="videocam"
                             widgetButtonLabel="Manage Cameras"></app-card-widget>

        </mat-grid-tile>

        <mat-grid-tile>

            <app-card-widget widgetTitle="Cameras"
                             widgetDescription="Manage your camera connections."
                             widgetIcon="videocam"
                             widgetButtonLabel="Manage Cameras"></app-card-widget>

        </mat-grid-tile>

        <mat-grid-tile>

            <app-card-widget widgetTitle="Cameras"
                             widgetDescription="Manage your camera connections."
                             widgetIcon="videocam"
                             widgetButtonLabel="Manage Cameras"></app-card-widget>

        </mat-grid-tile>

    </mat-grid-list>

</div>
